.wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    width: 760px;
    background-color: var(--white);

    ::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: -30px;
        right: 58px;
        display: block;
        border: 12px solid;
        border-color: transparent transparent var(--white) transparent;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}

.wrapper-list {
    padding: 10px 20px;
}

.item {
    display: block;
    min-width: 325px;
    padding: 6px 16px;
    font-size: 1.6rem;
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: var(--primary);
        color: var(--white);
    }
}
