.wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    width: 200px;
    padding: 10px 0;
    background-color: var(--white);

    ::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: -30px;
        left: 24px;
        display: block;
        border: 12px solid;
        border-color: transparent transparent var(--white) transparent;
    }
}

.container {
    justify-content: center;
    width: 220px;
    padding: 0 20px;
    list-style: none;
}

.content {
    display: block;
    width: 180px;
    padding: 8px 16px;
    font-size: 1.6rem;
    color: var(--text-color);
    cursor: pointer;

    &:hover {
        background-color: var(--primary);
        color: var(--white);
    }
}

// Popper Category
